:root{
    --text-color: 238, 229, 233;
    --link-color: 40, 102, 110;
}

body {
    background-image: linear-gradient(to bottom, rgb(29, 21, 34), rgb(56, 27, 70));
    color: rgb(var(--text-color));
}

.header h2{
    font-size: 1.1em;
    line-height: 1.6;
    margin-top: 0px;
}
.header h1{
    font-size: 3em;
    text-decoration: underline;
    margin-top: 40px;
    margin-bottom: 0px;
}
h2 {
    font-size: 2em;
}

a{
    color: rgb(var(--link-color));
}